@{
    Layout = null;
    ViewData["Title"] = "Sayfa Bulunamadı";
}

<div style="text-align:center; padding-top: 30px;">
    <img src="~/images/404.jpg" alt="404" style="width: 700px; max-width: 100%; height: auto;" />
    <h1 style="font-size: 72px; color: #dc3545;">404</h1>
    <h3 style="font-weight: 600;">Üzgünüz, aradığınız sayfa bulunamadı.</h3>
    <a href="/Home/Index" style="text-decoration: underline; color: #007bff;">Anasayfaya dön</a>

</div>
